<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Editing Book</h2>
      <% if flash[:notice] %>
        <div class= "alert alert-success" role="alert">
          <p class= "notice text-center" style="color:green;">
            <%= flash[:notice] %>
          </p>
        </div>
      <% end %>
      <%= form_with model: @book do |f| %>
        <label >Title</label><br/>
          <%= f.text_field :title %><br/>
        <label>Opinion</label><br/>
          <%= f.text_area :body %><br/>
          <%= f.submit "Update Book" %>
          <p>
            <%= link_to "Show", book_path(@book.id) %>
            <%= "|" %>
            <%= link_to "Back", "/books" %>
          </p>
      <% end %>
    </div>
  </div>
</div>